<app-toolbar></app-toolbar>

<div class="container">
    <mat-card *ngIf="assignmentTransmis">
        <br>
        <mat-hint *ngIf="!assignmentTransmis.rendu && isAdmin() " >Note entre 0 et 20 </mat-hint>
        <form ngForm class ="form" *ngIf="!assignmentTransmis.rendu && isAdmin()" >
            <mat-form-field>
              <mat-label> Note : </mat-label>
              <input ng-model="note"
                        type="number"
                        min="0"
                        max="20"
                        name="note"
                        matInput
                        placeholder="Note"
                        [(ngModel)]="note"
                        name="note"
              />
            </mat-form-field>
        
        </form>

        <mat-card-title  *ngIf="!assignmentTransmis.rendu">{{assignmentTransmis.nomDevoir}} a rendre pour le {{assignmentTransmis.dateDeRendu |date}}</mat-card-title> 
            <mat-checkbox *ngIf="!assignmentTransmis.rendu && isAdmin()" (click)="onAssignmentRendu()" [disabled]="!notess()" >
                Devoir Rendu</mat-checkbox>
            <br>
            <mat-card *ngIf="assignmentTransmis.rendu">
                <mat-card-title>{{assignmentTransmis.nomDevoir}} a été rendu </mat-card-title> 
                <mat-card-content>
                    <p> Date de rendu : {{assignmentTransmis.dateDeRendu | date}}</p>
                    <p> Note : {{assignmentTransmis.note}}/20</p>
                    <p> Commentaire : {{assignmentTransmis.remarque}}</p>
                    <p> Matiere : {{assignmentTransmis.matiere }}</p>
                    <p> Prof : {{assignmentTransmis.nomProf}}</p>
                    <img *ngIf="donati()" cImg align="end" rounded src="assets/image/donati.jpg" height="200"/>
                    <img *ngIf="lahire()" cImg align="end" rounded src="assets/image/lahire.jpg" height="200"/>
                    <img *ngIf="buffa()" cImg align="end" rounded src="assets/image/buffa.jpg" height="200"/>
                    <img *ngIf="tounsi()" cImg align="end" rounded src="assets/image/tounsi.jpg" height="200"/>
                    
                </mat-card-content>
            </mat-card>
            <mat-card-content *ngIf="!assignmentTransmis.rendu" >
                <p> Date de rendu : {{assignmentTransmis.dateDeRendu | date}}</p>
                <p> Commentaire : {{assignmentTransmis.remarque}}</p>
                <p> Matiere : {{assignmentTransmis.matiere }}</p>
                <p> Prof : {{assignmentTransmis.nomProf}}</p>
                <img *ngIf="donati()" cImg align="end" rounded src="assets/image/donati.jpg" height="200"/>
                <img *ngIf="lahire()" cImg align="end" rounded src="assets/image/lahire.jpg" height="200"/>
                <img *ngIf="buffa()" cImg align="end" rounded src="assets/image/buffa.jpg" height="200"/>
                <img *ngIf="tounsi()" cImg align="end" rounded src="assets/image/tounsi.jpg" height="200"/>
                <img *ngIf="mirbel()" cImg align="end" rounded src="assets/image/mirbel.jpg" height="200"/>

            </mat-card-content>
    </mat-card>

    <br>
<br>

<br>
<br>
<button mat-flat-button color="primary" (click)="retour()" >
    Retour</button>

</div>




<app-sidenav></app-sidenav>
