

<div class="container">
    <mat-card *ngIf="assignmentTransmis">
        <mat-card-title>{{assignmentTransmis.nomDevoir}} a rendre </mat-card-title>
        <mat-card-subtitle>{{assignmentTransmis.dateDeRendu |date}}</mat-card-subtitle> 
        <br>
    
            <button mat-flat-button color="warn" (click)="onDelete()" >
                Supprimer </button>
                <br>
            <button mat-flat-button color="primary" (click)="retour()" >
                    Annuler</button>
    </mat-card>
</div>

