
<mat-sidenav-container >
    <mat-sidenav *ngIf="isOponed()" [(opened)]="oponed" mode="side" #sidenav (click)="sidenav.toggle()">
      <button mat-flat-button class="example-container" (click)="onListAssignmentClick()">Liste des devoirs</button>
      <main class ="container" >
        <div class="ajouterBtn">
          <nav>
          <a routerLink="/add">
             <button mat-flat-button (click)="fal()">Ajouter un devoir </button></a></nav>
        </div>
      </main>
      <button mat-button class="example-container" (click)="onEditAssignmentClick()">Modification d'un devoir</button>
      <button mat-button class="example-container">Suppression d'un devoir</button>
      <button mat-button class="example-container">Génération de données de test</button>
      </mat-sidenav>
  
      
  
    <mat-sidenav-content>
  
      <main *ngIf="formVisibleB">
      <h3>Liste des devoirs :</h3>
  
      <mat-list *ngFor="let assignment of assignments">
        <nav><a routerLink="/assignment/{{assignment.id}}">
        <h4 mat-subheader>Date du rendu : {{assignment.dateDeRendu | date}}</h4>
        <mat-list-item >
        <p appRendu *ngIf="assignment.rendu; else nonSoumis">
          Devoir intitule {{ assignment.nom }} a été rendu
        </p>
        <ng-template #nonSoumis >
          <mat-divider></mat-divider>
          Devoir intitule {{ assignment.nom }} n'a pas été rendu
        </ng-template>
        
        </mat-list-item>
        </a></nav>
        
      </mat-list>
  
      </main>
  
      <main *ngIf="formVisibleA">
      <h3>Liste des devoirs :</h3>
  
      <mat-list *ngFor="let assignment of assignments">
        <nav><a routerLink="/assignment/{{assignment.id}}/edit">
        <h4 mat-subheader>Date du rendu : {{assignment.dateDeRendu | date}}</h4>
        <mat-list-item >
        <p appRendu *ngIf="assignment.rendu; else nonSoumis">
          Devoir intitule {{ assignment.nom }} a été rendu
        </p>
        <ng-template #nonSoumis >
          <mat-divider></mat-divider>
          Devoir intitule {{ assignment.nom }} n'a pas été rendu
        </ng-template>
        
        </mat-list-item>
        </a></nav>
        
      </mat-list>
  
      </main>
      
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  

