<mat-sidenav-container *ngIf="isOponed()" class="custom-sidenav-container">
  <mat-sidenav  [opened]="oponed" mode="side" #sidenav >
        <button mat-flat-button  [routerLink]="['/list']" (click)="fal()">Liste des devoirs</button>
    
        <button mat-flat-button [routerLink]="['/add']" (click)="fal()"  [disabled]="!islogged()">Ajouter un devoir</button>
     
        <button mat-flat-button [routerLink]="['/listedit']" (click)="fal()"  [disabled]="!islogged()">Modification d'un devoir</button>
          
        <button mat-flat-button [routerLink]="['/listdelete']"  (click)="fal()" [disabled]="!islogged()" >Suppression d'un devoir</button>
        
      </mat-sidenav>
  
  
    <mat-sidenav-content>
  
        <router-outlet></router-outlet>
        
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  